* {
  font-family: "afio";
  font-size: 12px;
  font-weight: 900;
  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background: transparent;
}

#workspaces,
#tray,
#network,
#disk,
#pulseaudio.output,
#pulseaudio.input,
#cpu,
#memory,
#clock,
#custom-containers,
#custom-lock,
#custom-reboot,
#custom-shutdown {
  margin: 2px 4px;
  padding: 0px 9px;
  min-height: 24px;
  border: 1.5px solid #45475a;
  border-radius: 5px;
  background: #1e1e2e;
  color: #cdd6f4;
}

#workspaces {
  padding: 0;
  border: none;
  background: transparent;
}

#workspaces button {
  padding: 0 7px;
  margin: 0;
  color: #585b70;
  border: none;
  border-radius: 0;
  background: transparent;
  min-width: 12px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.visible {
  color: #cdd6f4;
}

#workspaces button.active {
  color: #f38ba8;
  font-weight: 900;
  min-width: 16px;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button:hover {
  color: #cdd6f4;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

#tray {
  color: #cdd6f4;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: #f38ba8;
}

#network                 { color: #89b4fa; }
#network.disconnected    { color: #585b70; }
#disk                    { color: #f5c2e7; }
#pulseaudio.output       { color: #94e2d5; }
#pulseaudio.input        { color: #89dceb; }
#cpu                     { color: #a6e3a1; }
#memory                  { color: #f9e2af; }
#clock                   { color: #b4befe; }

#custom-containers { color: #fab387; }

#custom-lock     { color: #cba6f7; }
#custom-reboot   { color: #f9e2af; }
#custom-shutdown { color: #f38ba8; }

tooltip {
  background: #1e1e2e;
  border: 1.5px solid #cba6f7;
  border-radius: 6px;
}
tooltip label {
  color: #cdd6f4;
  padding: 4px 6px;
}
