* {
  /* text-shadow: 2px 2px 2px #1e1e2e; */
  font-family: "afio";
  font-size: 12px;
  /* font-weight: 900; */
  /* min-height: 0; */
  /* margin: 0px; */
  padding: 0px ;
  border-radius: 12px;
}

window#waybar {
  background: transparent;
}

#custom-lock,
#custom-reboot,
#custom-shutdown{
  padding: 0px 8px;
}

#workspaces,
#custom-indicators,
#tray,
#resources,
#audio,
#bluetooth,
#network,
#clock,
#power-actions,
#mpris.playing,
#mpris.paused,
#custom-lyric,
#privacy{

  /* padding: 0px; */
  /* margin: 0px 0px; */
  padding: 0px 8px;
  /* border: 1px solid #f5c2e7; */
  /* border-radius: 6px; */
  background: rgba(30, 30, 46,0.85);
  /* box-shadow: 0 0 10px rgba(245, 194, 231,0.45), */
  /*             inset 0 0 6px  rgba(245, 194, 231,0.12); */
  /**/

}

#custom-lyric  { 
  /* box-shadow: 0 0 10px rgba(245, 194, 231,0.45), */
  /*             inset 0 0 6px  rgba(245, 194, 231,0.12); */
  /* background: rgba(30, 30, 46,0.85); */
  /* text-shadow: 2px 2px 3px #1e1e2e; */
}

#cpu,
#memory,
#disk,
#custom-containers,
#pulseaudio.input,
#pulseaudio.output{
  padding: 0px 8px;
}

#resources,
#audio,
#workspaces,
#custom-indicators,
#power-actions{
  padding: 0px 2px;
}


#workspaces button {
  padding: 0 2px;
  /* margin: 0; */
  /* color: #585b70; */
  /* color: #cdd6f4; */
  /* border: none; */
  /* border-radius: 0; */
  /* background: transparent; */
  /* min-width: 12px; */
  /* font-family: inherit; */
  /* font-size: inherit; */
  /* font-weight: inherit; */
  /* box-shadow: none; */
  /* text-shadow: none; */
}


#workspaces button.visible {
  color: #cdd6f4;
}


#workspaces button.focused,
#workspaces button.active {
  color: #f38ba8;
  /* font-weight: 900; */
  /* min-width: 16px; */
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button:hover {
  /* padding: 0 4px; */
  border-radius: 12px;
  color: #cdd6f4;
  background: rgba(30, 30, 46,1);
  /* border: 0px solid #f5c2e7; */
  /* background: transparent; */
  /* box-shadow: none; */
  /* border: 0px solid #f5c2e7; */
  /* text-shadow: none; */
}

#tray {
  color: #cdd6f4;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: #f38ba8;
}

#custom-lyric            { color: #cdd6f4; }
#custom-indicators       { color: #94e2d5; }
#bluetooth               { color: #89b4fa; }
#bluetooth.off           { color: #585b70; }
#bluetooth.disabled      { color: #585b70; }
#network                 { color: #cba6f7; }
#network.disconnected    { color: #585b70; }
#disk                    { color: #f5c2e7; }
#pulseaudio.output       { color: #94e2d5; }
#pulseaudio.input        { color: #89dceb; }
#cpu                     { color: #a6e3a1; }
#memory                  { color: #f9e2af; }
#clock                   { color: #b4befe; }
#privacy-item.audio-out  { color: #a6e3a1; }
#privacy-item.audio-in   { color: #fab387; }
#privacy-item.screenshare{ color: #f38ba8; }

#custom-containers { color: #fab387; }


@keyframes mpris-color {
  0%   { color: #a6e3a1; }
  25%  { color: #89b4fa; }
  50%  { color: #cba6f7; }
  75%  { color: #f9e2af; }
  100% { color: #a6e3a1; }

}

#mpris {
  /* padding: 0px 12px; */
  /* border-radius: 32px; */
  /* text-shadow: 1px 1px 2px black; */
  /* border: none; */
  background: transparent;
}
#mpris.playing {
  color: #a6e3a1;
  /* background:linear-gradient(180deg,rgba(166,227,161,0)0%, rgba(166,227,161,0)85%,rgba(166,227,161,1)95%,rgba(30,30,46,1)100%); */
}
#mpris.paused {
  color: #f9e2af;

  /* background:linear-gradient(180deg,rgba(249,226,175,0)0%, rgba(249,226,175,0)85%,rgba(249,226,175,1)95%,rgba(30,30,46,1)100%); */
}
#custom-lock     { color: #cba6f7; }
#custom-reboot   { color: #f9e2af; }
#custom-shutdown { color: #f38ba8; }

tooltip {
  background: #1e1e2e;
  /* border: 1px solid #cba6f7; */
  border: 1px solid #f5c2e7;
  border-radius: 6px;
}
tooltip label {
  color: #cdd6f4;
  padding: 4px 6px;
}
trough {
  min-width: 50px;
  min-height: 6px;
  /* margin: 0px; */
  /* border-radius: 8px; */
  background: #585b70;
}
slider{

  padding: 0px;
  margin: 0px 0px;
  min-width: 0px;
  min-height: 0px;
}

trough highlight {
  /* border-radius: 8px; */
  background-color: #cdd6f4;
}

