window-rule {
    match is-pinned=true
    border {
        on
        width 1
        active-color "#a6e3a1"
        inactive-color "rgba(166, 227, 161,0.5)"
    }
}

layout{
    default-column-width-min { proportion 0.2; }
}

binds {
    Mod+P { toggle-window-height-pin; }
    Mod+BracketLeft  { swap-column-left; }
    Mod+BracketRight { swap-column-right; }
}
